h1 {
  color: grey;
  font-size: 50px;
  text-align: center;
  text-decoration: line-through;
}
h3 {
  color: blue;
  text-align: center;
  text-decoration: underline;
}
p {
  color: crimson;
  text-align: justify;
  text-indent: 10px;
  text-transform: capitalize;
  word-spacing: 10px;
}
